/* Wrapper geral do menu */
.menu-wrapper {
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Logo centralizado */
.logo-container {
    display: flex;
    justify-content: center; /* Centraliza na horizontal */
    width: 100%            /* Opcional: faz a div ocupar toda a largura */
  
}

/* Botões do menu */
.menu-wrapper button {
    width: 100%;
    background: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0.75rem 0;
    font-size: 16px;
    font-weight: 500;
    color: #2c2c2c;
}

/* Hover */
.menu-wrapper button:hover {
    color: #2c2c2c;
    border-bottom: 2px solid #9fa8da;
}

/* Underline ativo */
.menu-underline {
    height: 3px;
    width: 100%;
    background-color: #91a8d0; /* Azul Serenity */
    margin-top: 4px;
}

button[data-active="true"] {
    border-bottom: 2px solid #9fa8da;
}
